/*CSS UNTUK MENYEMBUNYIKAN GULIR BILAH*/
::-webkit-scrollbar {
    display: none; /* Menyembunyikan bilah gulir */
}

.font-normal {
    font-family: 'Josefin Sans', sans-serif !important;
}

.font-aesthetic {
    font-family: 'Sacramento', cursive !important;
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/7.JPG');
    background-size: cover; /* membuat gambar menutupi seluruh latar belakang */
    background-position: center; /* menempatkan gambar di tengah */
    background-repeat: no-repeat; /* menghindari pengulangan gambar */
    padding: 50px; /* memberi ruang di sekitar konten agar tidak terlalu menempel dengan tepi */
    text-align: center; /* membuat teks berada di tengah */
    color: white; /* warna teks menjadi putih */
}
#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#progress-container {
    width: 100%;
    margin-top: 10px;
    max-width: 500px;
    background: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

#progress-bar {
    height: 30px;
    width: 100%;
    background-color: #76c7c0;
    border-radius: 10px;
    transition: width 0.1s;
   
}
#home {
    display: none;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.avatar img {
    border-radius: 50%;
    width: 175px; /* Sesuaikan dengan ukuran yang diinginkan */
    height: 175px; /* Sesuaikan dengan ukuran yang diinginkan */
    border: 3px solid white; /* Menambahkan border hitam dengan ketebalan 5px */
}

.rounded-pill {
    border-radius: 50px; /* Membuat sudut tombol menjadi bulat */
    padding: 10px 20px; /* Menambahkan padding pada tombol */
    border: none; /* Menghilangkan border default tombol */
    background-color: white; /* Mengatur warna latar belakang tombol */
    color: black; /* Mengatur warna teks tombol */
    font-size: 16px; /* Mengatur ukuran font tombol */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat diarahkan ke tombol */
    transition: background-color 0.3s, transform 0.3s; /* Menambahkan efek transisi pada latar belakang dan transformasi */
}

.rounded-pill:hover {
    background-color: #d1d1d1; /* Mengubah warna latar belakang saat tombol di-hover */
    transform: scale(1.05); /* Memperbesar tombol sedikit saat di-hover */
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}