/* CSS UNTUK MENYEMBUNYIKAN GULIR BILAH */
::-webkit-scrollbar {
    display: none; /* Menyembunyikan bilah gulir */
}

.font-normal {
    font-family: 'Josefin Sans', sans-serif !important;
}

.font-aesthetic {
    font-family: 'Sacramento', cursive !important;
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
}

body, html {
    scroll-behavior: smooth;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Menghilangkan scrollbar horizontal */
}

#undangan {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    max-width: 100%; /* Menjaga elemen dalam batas layar */
}

.avatar img {
    border-radius: 50%;
    width: 225px; /* Sesuaikan dengan ukuran yang diinginkan */
    height: 225px; /* Sesuaikan dengan ukuran yang diinginkan */
    border: 5px solid white; /* Menambahkan border putih dengan ketebalan 5px */
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.rounded-pill {
    border-radius: 50px; /* Membuat sudut tombol menjadi bulat */
    padding: 10px 20px; /* Menambahkan padding pada tombol */
    border: none; /* Menghilangkan border default tombol */
    background-color: white; /* Mengatur warna latar belakang tombol */
    color: black; /* Mengatur warna teks tombol */
    font-size: 16px; /* Mengatur ukuran font tombol */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat diarahkan ke tombol */
    transition: background-color 0.3s, transform 0.3s; /* Menambahkan efek transisi pada latar belakang dan transformasi */
}

.rounded-pill:hover {
    background-color: #d1d1d1; /* Mengubah warna latar belakang saat tombol di-hover */
    transform: scale(1.05); /* Memperbesar tombol sedikit saat di-hover */
}

.card {
    box-shadow: 0px 0px 10px 0px rgba(0,0,1,1.5);
    max-width: 100%; /* Menjaga elemen dalam batas layar */
}

/* CSS LOVE GIFT */
.love-gift .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.love-gift .card-img {
    max-width: 100%; /* Menjaga elemen dalam batas layar */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px; /* Menambahkan margin bawah */
    align-items: center;
    text-align: center;
}

.love-gift .card-text {
    font-size: 1.2em;
    margin: 10px 0;
}

.love-gift .card-number {
    font-size: 1em;
    margin: 10px 0;
}

.love-gift .copy-btn {
    padding: 5px 10px; /* Menyesuaikan padding */
    font-size: 0.9em; /* Menyesuaikan ukuran font */
    color: #fff;
    background-color: #0066ff;
    border: none;
    border-radius: 20px; /* Membulatkan sudut */
    cursor: pointer;
}

.love-gift .copy-btn:hover {
    background-color: #0066ffbb;
}

/* Ensure the container is centered */
.love-gift .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* Ensure the row and columns are centered */
.love-gift .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.love-gift .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px; /* Optional: to add some space between columns */
}

.love-gift .card {
    border-radius: 50px; 
    box-shadow: rgba(0, 0, 0, 0.616); 
    padding: 20px;
    text-align: center;
}


.col {
    flex: 1;
    max-width: 300px;
    margin: 10px;
}

/* CSS BOTTOM NAVIGATION */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.bottom-nav a {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    color: rgb(94, 94, 94);
    text-decoration: none;
    font-size: 14px;
}

.bottom-nav a:hover {
    color: #222222;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
    .bottom-nav a {
        padding: 8px 0;
        font-size: 12px; /* Menyesuaikan ukuran font untuk layar kecil */
    }
}

/* CSS for Play Music Button */
#playMusicBtn {
    position: fixed;
    bottom: 80px; /* Menyesuaikan jika diperlukan */
    right: 20px; /* Menyesuaikan jika diperlukan */
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    width: 30px; /* Menyesuaikan jika diperlukan */
    height: 30px; /* Menyesuaikan jika diperlukan */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Animation for rotating icon */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 2s linear infinite;
}

/* MOUSE SCROLL */


/*MEMPELAI */

.mempelai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.mempelai .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mempelai .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mempelai .col-md-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Ensure the container is centered */
.tanggal .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* Ensure the row and columns are centered */
.tanggal .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.tanggal .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
